<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
<title>ADM管理画面</title>
<link rel="stylesheet" type="text/css" href="<?php echo $url_dir; ?>/css/adm.css" />
</head>

<body>

<div id="adm-container">
  <div id="adm-header">
    <h1>ADM管理画面</h1>
  </div>

  <div id="adm-content">

<?php if (count($index_list) > 0) { ?>
  <dl class="adm-index">
  <?php foreach ($index_list as $adm) { ?>
    <dt><a href="<?php echo $adm['link']; ?>"><?php echo $adm['title']; ?></a></dt>
    <?php if ($adm['summary']) { ?>
    <dd><?php echo $adm['summary']; ?></dd>
    <?php } ?>
  <?php } ?>
  </dl>
<?php } else { ?>
  <div class="alert">メニューが登録されていません。設定ファイル（adm.xml）にメニューを追加してください。</div>
<?php } ?>

  </div>
  <div id="adm-footer">
    Advanced Data Manager Powered by SyL Framework <?php echo SYL_VERSION; ?>
  </div>
</div> <!-- // end adm-container -->

</body>
</html>
