<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
<title>ADM管理画面 - <?php echo $title; ?></title>
<link rel="stylesheet" type="text/css" href="<?php echo $url_dir; ?>/css/adm.css" />
</head>

<body>

<div id="adm-container">
  <div id="adm-header">
    <h1>ADM管理画面 - <?php echo $title; ?> - 詳細表示</h1>
  </div>

  <div id="adm-content">
    <div id="adm-pankuzu">&gt; <a href="<?php echo $url_lst; ?>">一覧に戻る</a></div>
    <h2>詳細表示</h2>
    <div>
      <table class="adm-detail">
        <form name="form1" method="post">
<?php foreach ($form['elements'] as $element) { ?>
  <?php if ($element['cols'] == '0') { ?>
        <tr>
          <th><?php echo $element['label']; ?></th>
          <td><?php echo $element['html']; ?>&nbsp;</td>
  <?php } else if ($element['cols'] == '1') { ?>
          <th><?php echo $element['label']; ?></th>
          <td><?php echo $element['html']; ?>&nbsp;</td>
        </tr>
  <?php } else if ($element['cols'] == '2') { ?>
        <tr>
          <th><?php echo $element['label']; ?></th>
          <td colspan="3"><?php echo $element['html']; ?>&nbsp;</td>
        </tr>
  <?php } ?>
<?php } ?>
        </form>

<?php if ($enable_upd || $enable_del) { ?>
        <form name="form_del" method="post" action="<?php echo $url_del; ?>" <?php if ($view_alert) { ?>onSubmit="return confirm('削除します。よろしいですか？');"<?php } ?>>
        <input type="hidden" name="<?php echo $key_name; ?>[]" value="<?php echo htmlspecialchars($key_value); ?>" />
        <tr>
          <td colspan="4" style="text-align: right;">
  <?php if ($enable_upd) { ?>
            <input type="button" value="　更新　" onClick="window.location.href='<?php echo $url_upd; ?>?<?php echo $key_name; ?>=<?php echo htmlspecialchars($key_value); ?>';">
  <?php } ?>
  <?php if ($enable_del) { ?>
            <input type="submit" value="　削除　">
  <?php } ?>
          </td>
        </tr>
        </form>
<?php } ?>
      </table>
    </div>

    <div style="padding: 10px; text-align: center;">
      <a href="<?php echo $url_lst; ?>">一覧に戻る</a>
    </div>

  </div> <!-- // end adm-content -->

  <div id="adm-footer">
    Advanced Data Manager Powered by SyL Framework <?php echo SYL_VERSION; ?>
  </div>
</div> <!-- // end adm-container -->

</body>
</html>

